header {
    background-color: rgba(255, 0, 34, 0.411);
    vertical-align: middle;
    margin: 0px;
    text-align: right;
    line-height: 70px;
}

header div.cim {
    height:max-content;
    padding: 0px 30px;
    height: 70px;
}

header img {
    float:left;
    margin: 0px;
    padding: 0;
    height: 70px;
}

div#wrapper {
    margin: 0px;
}

aside {
    display: table-header-group;
    vertical-align: middle;
    
}

nav {
    margin: 0;
    top: 0px;
    background-color: #ffffff;
}

nav ul {
    overflow: hidden;
    list-style-type:none;
    margin: 0px;
    padding: 0;
}

nav ul li {
    float: left;
}


nav ul a {
    text-decoration: none;
    color: rgb(17, 4, 202);
    background-color: white;
    display: block;
    text-decoration: none;
    font-size: x-large;
    font-family:monospace;
    padding: 10px 15px;
    font-weight: bold;
}

nav ul a:hover {
    background-color: rgb(184, 184, 184);
}

div#content {
    display: table-cell;
    width: 100%;
    background-color: #99c5ff;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #CC99FF;
}