#erold{
    background-color: aqua;
    width:25%;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:Calibri;
}

h1{
    font-style: initial;
    text-decoration: underline;
    padding-top: 5px;
}

h2{
    font-style: initial;
    text-decoration:underline;
    padding-top: 5px;
}

p{
    text-align:justify;
}

#kapcsolat{
    margin: 0px 60px;
    background-color:#ADEAFF;
    width: 100%;
}

#terkep{
    display:inline-table;
    padding: 20px;
}

#urlap{
    display:inline-table;
    padding: 30px;
    margin-left:20px;
}

#reg{
    background-color: #d45334;
}

#leftbelep{
    float:left;
    width:200px;
}
#rightbelep{
    float:right;
}


.navbar{
    font-family:Impact;
}



header nav {
    margin: 0;
    top: 30px;
    background-color: #ffffff;
}

div#content {
    display: table-cell;
    width: 100%;
    background-color: white;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
}

table{
    vertical-align: middle;
}